.git
.venv
**/node_modules
**/.nuxt
**/.output
**/__pycache__
**/.pytest_cache
.env
data/*
!data/demo-r2/
data/demo-r2/*
!data/demo-r2/input/
data/demo-r2/input/*
!data/demo-r2/input/demo-content-v1.json

